@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #581845;
}

#column-2 {
  background: #C70039;
}

#column-3 {
  background: #FFC300;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #F5CBA7;
  }

  #column-1 {
    background-color: #D35400;
    width: 50%;
  }

  #column-2 {
    background-color: #873600;
    width: 50%;
  }

  #column-3 {
    background-color: #6E2C00;
    width: 50%;
  }

  footer {
    background-color: #C0392B;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #D7BDE2;
  }

  #column-1 {
    background-color: #F1C40F;
    width: 33.3333%;
  }

  #column-2 {
    background-color: #2980B9;
    width: 33.3333%;
  }

  #column-3 {
    background-color: #1ABC9C;
    width: 33.3333%;
  }

  footer {
    background-color: #B2BABB;
  }

}
